In [1]:
# Day12 Assignment Batch1 AIML  - 21/7/2020
# Venkkatesh V R

In [12]:
# Import the libraries

import pandas as pd
from scipy.stats import pearsonr, chi2_contingency, wilcoxon, friedmanchisquare, mannwhitneyu
from scipy.stats import kruskal, ttest_1samp, ttest_rel, ttest_ind

In [3]:
# Load the data

data = pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
# Shape of the data

data.shape

(4410, 24)

In [5]:
#columns of the data

data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

## Variable Identification and Typecasting

In [6]:
# datatypes

data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Integer Data Type

In [7]:
# Numerical datatypes

data.select_dtypes(include=['int64','float64','Int64']).dtypes

Age                          int64
DistanceFromHome             int64
Education                    int64
EmployeeCount                int64
EmployeeID                   int64
JobLevel                     int64
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Object Data Type

In [8]:
# Categorical datatypes

data.select_dtypes(include=['object']).dtypes

Attrition         object
BusinessTravel    object
Department        object
EducationField    object
Gender            object
JobRole           object
MaritalStatus     object
Over18            object
dtype: object

## Hypothesis

Target Variable : Attrition

1. Does older age staff leave the job more  ( Age Vs Attrition)

2. Does staff living far away from office is leaving the job more (DistanceFromHome vs Attrition)

3. Does staff travelling frequently leave the job more (BusinessTravel vs Attrition)

4. Does staff with Technical Degree leave the job more (EducationField vs Attrition)

5. Does vintage staff are leave the job more (YearsAtCompany vs Attrition)

6. Does staff getting low salary hike leave the job more (PercentSalaryHike vs Attrition)

7. Does staff with less training leave the bob more (TrainingTimesLastYear vs Attrition)

8. Does staff with Manager Role leave the job more (JobRole vs Attrition)

9. Does staff not promoted for few years leave the job more (YearsSinceLastPromotion vs Attrition)

10. Does female staff leave the job more (Gender vs Attrition)

## Statistical Tests

In [9]:
data['Attrition1'] = data['Attrition']
data['Attrition1'] = data['Attrition'].astype('category')
data['Attrition1'] = data['Attrition1'].cat.codes

In [10]:
data.corr()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition1
Age,1.000000,0.006963,-0.035706,NaN,0.008649,-0.002884,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089,-0.159205
DistanceFromHome,0.006963,1.000000,-0.008638,NaN,-0.001097,-0.037329,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584,-0.009730
Education,-0.035706,-0.008638,1.000000,NaN,-0.009680,0.045746,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358,-0.015111
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.001097,-0.009680,NaN,1.000000,-0.003303,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579,-0.004729
JobLevel,-0.002884,-0.037329,0.045746,NaN,-0.003303,1.000000,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251,-0.010290
MonthlyIncome,-0.044314,-0.021607,0.006410,NaN,0.007338,0.047316,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304,-0.031176
NumCompaniesWorked,0.299243,-0.013843,-0.016250,NaN,-0.001117,-0.009875,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667,0.042345
PercentSalaryHike,-0.033137,0.038125,-0.040531,NaN,-0.004456,0.010973,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864,0.032533
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,0.011169,0.001261,NaN,-0.014254,0.000993,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757,-0.006839
TotalWorkingYears,0.680661,0.009374,-0.010717,NaN,-0.001063,-0.036957,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800,-0.170338
TrainingTimesLastYear,-0.027308,-0.009001,0.010472,NaN,-0.010191,-0.032500,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270,-0.049431
YearsAtCompany,0.311309,0.031684,0.006080,NaN,0.004086,-0.064219,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212,-0.134392
YearsSinceLastPromotion,0.216513,0.002290,0.022490,NaN,0.000256,-0.060811,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224,-0.033019
YearsWithCurrManager,0.202089,0.021584,0.005358,NaN,0.008579,-0.055251,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000,-0.156199
Attrition1,-0.159205,-0.009730,-0.015111,NaN,-0.004729,-0.010290,-0.031176,0.042345,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199,1.000000

In [18]:
data.dropna(inplace=True)
data.drop_duplicates(inplace=True)
data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition1
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,Y,11,8,0,1.0,6,1,0,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,Y,23,8,1,6.0,3,5,1,4,1
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,Y,15,8,3,5.0,2,5,0,3,0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,Y,11,8,3,13.0,5,8,7,5,0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,Y,12,8,2,9.0,2,6,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,Y,18,8,0,6.0,2,6,1,5,0
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,Y,17,8,1,10.0,5,3,0,2,0
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,Y,15,8,0,10.0,2,3,0,2,0
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,Y,20,8,0,5.0,4,4,1,2,0
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,Y,14,8,1,10.0,2,9,7,8,0

In [20]:
df1=data[data['Attrition']=='Yes']
df2=data[data['Attrition']=='No']

In [25]:
stats, p = wilcoxon(data.Attrition1, data.Age)
print(f'The Value of stats and p in wilcoxon test is:')
print("Critical value:",stats1)
print("p value:",p1)
if p < 0.05:
    print('There is significant impact of Age on Attrition')
else:
    print('There is no significant impact of Age on Attrition')

The Value of stats and p in wilcoxon test is:
Critical value: 949178.0
p value: 7.98668614365882e-30
There is significant impact of Age on Attrition

In [27]:
stats1,p1=mannwhitneyu(df1.Age,df2.Age)
print(f'The Value of stats and p in mannwhitneyu test is:')
print("Critical value:",stats1)
print("p value:",p1)
if p < 0.05:
    print('There is significant impact of Age on Attrition')
else:
    print('There is no significant impact of Age on Attrition')

The Value of stats and p in mannwhitneyu test is:
Critical value: 949178.0
p value: 7.98668614365882e-30
There is significant impact of Age on Attrition

In [28]:
stats1,p1=mannwhitneyu(df1.DistanceFromHome,df2.DistanceFromHome)
print(f'The Value of stats and p in mannwhitneyu test is:')
print("Critical value:",stats1)
print("p value:",p1)
if p < 0.05:
    print('There is significant impact of DistanceFromHome on Attrition')
else:
    print('There is no significant impact of DistanceFromHome on Attrition')

The Value of stats and p in mannwhitneyu test is:
Critical value: 1295261.0
p value: 0.488538986087403
There is significant impact of DistanceFromHome on Attrition

In [35]:
crosstable = pd.crosstab(data.Attrition,data.BusinessTravel).apply(lambda r: r/r.sum(), axis=)
print(crosstable)

stats, p, dof, expected = chi2_contingency(crosstable)
print(f'The Value of p in chi2_contingency test is: {p}')
if p < 0.05:
    print('The variables are dependent')
else:
    print('The variables are not dependent')

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                0.919643           0.752727       0.850434
Yes               0.080357           0.247273       0.149566
The Value of p in chi2_contingency test is: 0.9487812587222888
The variables are not dependent

In [36]:
crosstable = pd.crosstab(data.Attrition,data.EducationField).apply(lambda r: r/r.sum(), axis=0)
print(crosstable)
stats, p, dof, expected = chi2_contingency(crosstable)
print(f'The Value of p in chi2_contingency test is: {p}')
if p < 0.05:
    print('The variables are dependent')
else:
    print('The variables are not dependent')

EducationField  Human Resources  Life Sciences  Marketing   Medical     Other  \
Attrition
No                          0.6       0.833333   0.842105  0.839711  0.877049
Yes                         0.4       0.166667   0.157895  0.160289  0.122951

EducationField  Technical Degree
Attrition
No                      0.885204
Yes                     0.114796
The Value of p in chi2_contingency test is: 0.9960526571623654
The variables are not dependent

In [38]:
stats, p = wilcoxon(data.Attrition1, data.YearsAtCompany)
print(f'The Value of stats and p in wilcoxon test is:')
print("Critical value:",stats1)
print("p value:",p1)
if p < 0.05:
    print('There is significant impact of YearsAtCompany on Attrition')
else:
    print('There is no significant impact of YearsAtCompany on Attrition')

The Value of stats and p in wilcoxon test is:
Critical value: 1295261.0
p value: 0.488538986087403
There is significant impact of YearsAtCompany on Attrition

In [39]:
stats1,p1=mannwhitneyu(df1.YearsAtCompany,df2.YearsAtCompany)
print(f'The Value of stats and p in mannwhitneyu test is:')
print("Critical value:",stats1)
print("p value:",p1)
if p < 0.05:
    print('There is significant impact of YearsAtCompany on Attrition')
else:
    print('There is no significant impact of YearsAtCompany on Attrition')

The Value of stats and p in mannwhitneyu test is:
Critical value: 912579.0
p value: 3.3433144809752036e-36
There is significant impact of YearsAtCompany on Attrition

In [43]:
df2 = data.copy()
df2.Attrition = df2.Attrition.replace(['Yes','No'],[0,1])
stats, p = kruskal(df2.Attrition, df2.Education,df2.JobLevel)

print(f'The Value of p in kruskal test is: {p}')
if p < 0.05:
    print('There is significant impact of Education, JobLevel on Attrition')
else:
    print('There is no significant impact of Education, JobLevel on Attrition')

The Value of p in kruskal test is: 0.0
There is significant impact of Education, JobLevel on Attrition

In [44]:
stats, p = friedmanchisquare(df2.Attrition, df2.Age, df2.DistanceFromHome, df2.MonthlyIncome)
print(f'The Value of p in friedmanchisquare test is: {p}')
if p < 0.05:
    print('There is significant impact of Age, Distance from Home, Monthly Income on Attrition')
else:
    print('There is no significant impact of Age, Distance from Home, Monthly Income on Attrition')

The Value of p in friedmanchisquare test is: 0.0
There is significant impact of Age, Distance from Home, Monthly Income on Attrition

In [ ]:
# End of Assignment